h1 {
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

input{
    display:flex;
    margin-left: auto;
    margin-right: auto;
}

#arr-input{
    width : 80%;
}

#target-input{
    width: 40%;
}

button{
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2em;
}